body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20% 0% 20%;
  background-color: #f8f2e9;
}

p {
  font-size: 16px;
  line-height: 150%;
  text-align: justify;
}

a {
  color: #007EE5;
  text-decoration: none;
};

a:hover {
  color: gray;
}

a:focus {
  color: gray;
}

li {
  font-size: 16px;
}

.barra {
  overflow: hidden;
  background-color: rgb(189, 185, 185);
  padding: 0% 0% 0% 0%;
}

.barra a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.barra a:hover {
  background-color: #ddd;
  color: black;
}

/* .barra a.active {
  background-color: gray;
  color: white;
} */

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 12px;
}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#curriculo {
  font-size: 0.8rem;
  line-height: 50%;
}

#subtitulo {
}

#lista-index {
  font-size: 18px;
  line-height: 150%;
}
 

.gf {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

table {
  width: 50%;
}

iframe {
  margin-left: auto;
  margin-right: auto;
}

#erro {
  color: red;
  text-decoration: line-through;
}

blockquote p .ref {
  text-align: left;
}

/* img center  */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
img {
    max-width:450px;
    max-height:450px;
    width:auto;
    height:auto;
}